.idea/
/**/__pycache__
/project/section_mapping/reference*
/project/references/*.pdf
/project/references/*.out
/project/references/*.json
/project/tools/*.txt
/project/references/*.txt
/project/section_mapping/*.txt
/project/tika_server/*