.idea/
/**/__pycache__
/project/section_mapping/reference*.json
/project/section_mapping/tools/*.txt
/project/references/*.txt
/project/section_mapping/*.txt
/project/tika_server/*
/c-semantics/*
/cxxdraft-htmlgen/*
/draft/*